# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/babnametr/home/BOT/ponae-v1.2"
PassengerBaseURI "/"
PassengerNodejs "/home/babnametr/nodevenv/home/BOT/ponae-v1.2/14/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/babnametr/BOT/ponae-v1.2"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END